@import "tailwindcss";

@layer base {
    body {
        @apply bg-[#020204] text-[#e2e8f0] font-sans overflow-x-hidden;
        cursor: none;
    }
}

@layer utilities {
    .glass {
        @apply bg-white/3 backdrop-blur-md border border-white/10;
    }

    .glass-card {
        @apply bg-[#0A0A0F] border border-white/5 shadow-2xl;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}